body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", system-ui;
    text-align: left;
}
.main-container {
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: rgb(245, 215, 215);
    border-radius: 10px;
    justify-content: center; /* panel 整排置中 */
    align-items: flex-start;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    padding: 0px;
    margin: 40px auto;
    box-sizing: border-box;
}

.left-container, .right-container {
    display: flex;            /* 內部 flex，方便置中內容 */
    flex-direction: column;   /* 上下排列 */
    justify-content: flex-start; /* 內部內容靠上 */
    align-items: center;       /* 水平置中，因為是這邊都是置中，所以導致我剛剛沒法靠左 */
    border-radius: 4px;
    min-height: 100%;          /* 適應父容器高度 */
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px;
}

.left-container {
    flex: 0 0 30%;             /* 左 panel 寬度 */
    background-color: rgb(203, 140, 140);
    align-items: stretch;  /* 這樣可以讓內容撐滿，我才可以靠左 */
    margin: 0px;
    padding: auto;
}

.left-container .photo-panel {
    border: 0 solid black;
    margin-bottom: 0;
    margin: 0 0;
}

.right-container {
    flex: 0 0 70%;             /* 右 panel 寬度 */
    background-color: rgb(255, 255, 255);
    align-items: stretch;
}


.section {
    margin-bottom: 5px;  /* 每個區塊之間留點空間 */
}


.section-title {
    text-align: left;
    margin-left: 25px;
    font-size:20px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
}

.photo-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    text-align: center;
}

.left-container .text-content {
    padding: 0;
    margin: 2px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1;
}

.separator {
    width: 97%;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 0px;
}

.right-separator {
    width: 630px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-left: 25px;
    margin-bottom: 10px;
}

.right-container-margin {
    margin-left: 25px;
    margin-top: 0px;
}
