body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", system-ui;
    text-align: left;
}
.main-container {
    display: flex;
    width: 1000px;
    height: 800px;
    background-color: rgb(245, 215, 215);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    padding: 0px;
    margin: 40px auto;
    box-sizing: border-box;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0px;
}

.left-container {
    flex: 0 0 30%;
    background-color: rgb(203, 140, 140);
    align-items: stretch;
    margin: 0px;
    padding: auto;
}

.left-container .photo-panel {
    border: 0 solid black;
    margin-bottom: 0;
    margin: 0 0;
}

.right-container {
    flex: 0 0 70%;
    background-color: rgb(255, 255, 255);
    align-items: stretch;
}

.columns-container {
    margin-left: 25px;
    margin-right: 45px;
    display: flex;
    gap: 10px;
}

.hw-column, .lab-column {
    background-color: #d1aaaa;
    padding: 50px;
    border-radius: 10px;
    flex: 1; /* Each column takes equal space */
}

.hw-column h3, .lab-column h3 {
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #fffefe;
}

.section {
    margin-bottom: 5px;
}

.section-title {
    text-align: left;
    margin-left: 25px;
    font-size:20px;
    margin-bottom: 3px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
}

.photo-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    text-align: center;
}

.left-container .text-content {
    padding: 0;
    margin: 2px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    text-align: left;
    line-height: 1;
}

.separator {
    width: 97%;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 0px;
}

.right-separator {
    width: 630px;
    text-align: center;
    border-bottom: 2px solid rgb(124, 103, 103);
    margin-left: 25px;
    margin-bottom: 10px;
}

.right-container-margin {
    display: inline-block;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 3px;
    vertical-align: middle;
}

.section-flex {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 25px; /* 添加這行，與標題和分隔線對齊 */
}

.section-left {
    flex: 0 0 auto;
}

.section-right {
    flex: 0 0 auto;
}

.timeline-item {
    display: flex;
    margin-bottom: 5px;
    margin-left: 25px;
}

.year {
    font-weight: bold;
    color: #555;
    width: 120px;
}

.description {
    color: #666;
}

.tag {
    display: inline-block;
    background-color: rgb(251, 197, 197);
    color: rgb(162, 79, 79);
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 14px;
}